{% extends 'store/main.html' %}
{% load static %}
{% block content %}

<div class="row">
    <div class="col-lg-6">
        <div class="box-element" id="form-wrapper">
            <form id = "form">
                <!-- //CSRF TOKEN  -->
                {% csrf_token %}
                <div id = "user-info">
                    <div class="form-field">
                        <input required class="form-control" type="text" name="name" placeholder="Name..">
                    </div>
                    <div class="form-field">
                        <input required class="form-control" type="email" name="email" placeholder="Email..">
                    </div>
                </div>
                <div id = "shipping-info">
                    <hr>
						<p>Shipping Information:</p>
						<hr>
						<div class="form-field">
							<input class="form-control" type="text" name="address" placeholder="City...">
						</div>
						<div class="form-field">
							<input class="form-control" type="text" name="city" placeholder="Area Name...">
						</div>
						<div class="form-field">
							<input class="form-control" type="text" name="state" placeholder="Road Name and Number...">
						</div>
						<div class="form-field">
							<input class="form-control" type="text" name="zipcode" placeholder="Bulding Name...">
						</div>
						<div class="form-field">
							<input class="form-control" type="text" name="country" placeholder="Phone Number...">
						</div>
                </div>

                <hr>
                <input id="form-button" class="btn btn-success btn-group" type="submit" value="Continue">
            </form>
        </div>
        <br>

         <div class="box-element hidden" id="payment-info"> <!--class="box-element hidden" ebhabe likhle uporer form fillup na kora porjnto payment option dekhabena , add bkash too -->
            <small>Paypal Option</small>
            <!-- <button id ="make-payment">Make Payement</button> -->
            <button type="button" class="btn btn-warning" id ="make-payment">Make Payement</button>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="box-element">
            <a  class="btn btn-outline-dark" href="{% url 'Cart' %}">&#x2190; Back to Cart</a>
            <hr>
            <h3>Order Summary</h3>
            <hr>
            {% for item in items %}
            <div class="cart-row">
                <div style="flex:2"><img class="row-image" src="{{item.product.imageURL}}"></div>
                <div style="flex:2"><p>{{item.product.name}}</p></div>
                <div style="flex:1"><p>৳{{item.product.price}}</p></div>
                <div style="flex:1"><p>x{{item.quantity}}</p></div>
            </div>

            {% endfor %}
            <h5>Items : {{order.get_cart_items}}</h5>
            <h5>Total : ৳ {{order.get_cart_total|floatformat:2}}</h5>
        </div>
    </div>
</div>



  <!-- FOOTER  START -->
  <div class="container-fluid bg-dark text-light footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-3 col-md-6">
                <h4 class="text-light mb-4">Address</h4>
                <h5>
                <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>Currently Available at :- Jamal Khan, Nasirabad, GEC</p>
                <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+8801846464343</p>
                <p class="mb-2"><i class="fa fa-envelope me-3"></i>edumed@gmail.com</p>
                </h5>
                <div class="d-flex pt-2">
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-youtube"></i></a>
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4 class="text-light mb-4">Opening Hours</h4>
                <h5 class="text-light" style="text-align: middle;">24/7</h5>
  
            </div>
            <div class="col-lg-3 col-md-6">
                <h4 class="text-light mb-4">Products We Sell</h4>
                <a class="btn btn-link" href="">Medicine</a>
                <a class="btn btn-link" href="">Medical Equipment</a>
                <a class="btn btn-link" href="">Energy Drinks</a>
            </div>
            {% comment %} <div class="col-lg-3 col-md-6">
                <h4 class="text-light mb-4">Newsletter</h4>
                <p>Dolor amet sit justo amet elitr clita ipsum elitr est.</p>
                <div class="position-relative mx-auto" style="max-width: 400px;">
                    <input class="form-control border-0 w-100 py-3 ps-4 pe-5" type="text" placeholder="Your email">
                    <button type="button" class="btn btn-primary py-2 position-absolute top-0 end-0 mt-2 me-2">SignUp</button>
                </div>
            </div>  {% endcomment %}
        </div>
    </div>
    <div class="container">
        <div class="copyright">
            <div class="row">
                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                    &copy; <a class="border-bottom" >EDU MED</a>, All Right Reserved.
  
                    Designed By <a class="border-bottom"> RAHIDUR RAHMAN, SHOWRAV DHAR, LAMISA NIHAD</a>
                </div>
                <div class="col-md-6 text-center text-md-end">
                    <div class="footer-menu">
                        <a href="{% url 'Store' %}">Home</a>
                        <a href="">Cookies</a>
                        <a href="">Help</a>
                        <a href="">FQAs</a>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
    </div>
  </div>
<!-- FOOTER  end -->



<script type="text/javascript">
    var shipping  = '{{order.shipping}}'
    var total = '{{order.get_cart.total}}'


    if(shipping == 'False'){
        document.getElementById('shipping-info').innerHTML = ''
    }

    if(user != 'AnonymousUser'){// user jodi logged in thake tahole delivery details er from ta dekhabe na
        document.getElementById('user-info').innerHTML = ''
    }

    //CSRF TOKEN 
    var form = document.getElementById('form')

    csrftoken = form.getElementsByTagName("input")[0].value
    console.log('newtoken:', form.getElementsByTagName("input")[0].value)

    form.addEventListener('submit',function(e){
        e.preventDefault()
        console.log('Form Submitted...')
        document.getElementById('form-button').classList.add('hidden')
        document.getElementById('payment-info').classList.remove('hidden')
    })

    document.getElementById('make-payment').addEventListener('click',function(e){
        submitFromData()
    })

    function submitFromData(){
        console.log('Payment Button Clicked')

        var userFormData = {
            'name' : null,
            'email' : null,
            'total' : total,
        }


        var shippingInfo = {
            'address' : null,
            'city' : null,
            'state' : null,
            'zipcode' : null,
        }

        if(shipping != 'False'){
            shippingInfo.address = form.address.value
            shippingInfo.city = form.city.value
            shippingInfo.state = form.state.value
            shippingInfo.zipcode = form.zipcode.value
        }

        if(user == 'AnonymousUser'){
            userFormData.name = form.name.value
            userFormData.email = form.email.value
        }

        var url = "/process_order/"
        fetch(url,{
            method: 'POST',
            headers: {
                'Content-Type': 'applicaiton/json',
                'X-CSRFToken': csrftoken,
            },
            body: JSON.stringify({ 'form': userFormData, 'shipping': shippingInfo }),

        })
        

        .then(response => response.json())
                .then((data) => {
                    console.log('Success :', data);
                    alert('Your Payement Has Been Completed, Wish you a good health');

                    cart = {}
                    document.cookie = 'cart=' + JSON.stringify(cart) + ";domain=;path=/"

                    window.location.href = "{% url 'Store' %}" // after payment user will go to home page
                }
        
        )
        
    }

</script>

{% endblock content %}
