{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<div class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="row container d-flex justify-content-center">
<div class="col-lg-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Health Tips</h4>
                  <p class="card-description">Trusted And Prooven Tips At Your Fingertips</p>
                  <div class="mt-4">
                    <div class="accordion" id="accordion" role="tablist">
                     <div class="card">
                        <div class="card-header" role="tab" id="heading-2">
                          <h6 class="mb-0">
                            <a class="collapsed" data-toggle="collapse" href="#collapse-2" aria-expanded="false" aria-controls="collapse-2" data-abc="true">
                             সেলফ কন্ট্রোল বা নিজেকে নিয়ন্ত্রণ করা কঠিন মনে হচ্ছে?
                            </a>
                          </h6>
                        </div>
                        <div id="collapse-2" class="collapse" role="tabpanel" aria-labelledby="heading-2" data-parent="#accordion">
                          <div class="card-body">
                              <p>জীবনে অনেক সময় আমাদের নিজেদের আবেগ ও ইচ্ছা নিয়ন্ত্রণ করতে হয়। যেমন অনেকেই আছেন যাদের ধূমপান করার অভ্যাস তারা হয়ত ভাবে আজকে থেকে ধূমপান করব না, কিন্তু ঠিকই আবার হাতে সিগারেট নিয়ে ফেলে। কিংবা অনেকে মনে করে নিজের রাগকে নিয়ন্ত্রণ করব কিন্তু সময় আসলে সে নিজেকে দেয়া কথা রাখতে না পেরে রাগ করে ফেলে এবং এতে বন্ধুত্বও নষ্ট হয়ে যেতে পারে। আমরা নিজেকে নিয়ন্ত্রণ করতে পারি না বলেই হেলদি লাইফস্টাইলে যেতে পারি না। এক কথায় আত্মনিয়ন্ত্রণ বা সেলফ কন্ট্রোল মানে হচ্ছে নিজের ইমোশন, বিহেভিয়ারে ও লাইফস্টাইলের কিছু পরিবর্তন নিয়ে আসা। আজকে আমরা জানব কিভাবে আমরা নিজেদের মধ্যে আত্মনিয়ন্ত্রণ গড়ে তুলতে পারি।</p>
                          </div>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card-header" role="tab" id="heading-2">
                          <h6 class="mb-0">
                            <a class="collapsed" data-toggle="collapse" href="#collapse-2" aria-expanded="false" aria-controls="collapse-2" data-abc="true">
                             সোশ্যাল মিডিয়ার আসক্তি দূর করে মানসিক সুস্থতার জন্য ডোপামিন ডিটক্স!
                            </a>
                          </h6>
                        </div>
                        <div id="collapse-2" class="collapse" role="tabpanel" aria-labelledby="heading-2" data-parent="#accordion">
                          <div class="card-body">
                              <p>ডোপামিন ডিটক্স হলো যেসব জিনিস থেকে আপনি এই রকম ক্ষণিকের আনন্দ পান, সেগুলোকে সাময়িক সময়ের জন্য দূরে রাখা। ডোপামিনকে ডিটক্স বিষয়টি খুবই সিম্পল। চলুন জেনে নেই এখন।</p>
                            <ul class="pl-3 mt-4">
                              <li>আগে চিহ্নিত করে ফেলুন কোন কোন জিনিস আপনাকে ডোপামিন রাশ দেয়। অনেকের ক্ষেত্রে জাংক ফুড, লং টাইম সোশ্যাল মিডিয়া স্ক্রল করা, গেইমস এগুলো ডোপামিন রাশের কারণ থাকে।</li>
                              <li>একদিন, এক সপ্তাহ, এক মাস সময় নিয়ে ডোপামিন ডিটক্স করা যায়। নিয়ম হলো আপনি যে জিনিস থেকে নিজেকে দূরে রাখতে চাচ্ছেন, সেটিকে ঐ নির্দিষ্ট সময়ের মধ্যে একবারও ব্যবহার করা যাবে না। যেমন, ধরে নিন আপনি চাচ্ছেন সোশ্যাল মিডিয়া ডিটক্স করবেন ৭ দিনের জন্য। সেক্ষেত্রে ৭ দিন পুরোপুরি ফোন বা ল্যাপটপ আপনার আয়ত্ত থেকে একটু দূরে রাখতে হবে যাতে নোটিফিকেশন আসলেই আপনি দৌঁড়ে চলে না যান! ইম্পরট্যান্ট কল আসতেই পারে, সেক্ষেত্রে মোবাইল দূরে রাখা সম্ভব না হলে ফেইসবুক, ইন্সটাগ্রাম অ্যাপ ডিলিট করে দিন।</li>
                            </ul>
                            <br>
                          </div>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card-header" role="tab" id="heading-3">
                          <h6 class="mb-0">
                            <a class="collapsed" data-toggle="collapse" href="#collapse-3" aria-expanded="false" aria-controls="collapse-3" data-abc="true">
                             আপনার স্বাস্থ্যের জন্য হাইড্রেশনের গুরুত্ব
                            </a>
                          </h6>
                        </div>
                        <div id="collapse-3" class="collapse" role="tabpanel" aria-labelledby="heading-3" data-parent="#accordion">
                          <div class="card-body">
                            <p class="mb-0">পর্যাপ্ত পরিমাণে হাইড্রেটেড থাকা ভাল স্বাস্থ্য বজায় রাখার একটি মৌলিক দিক। পানি বিভিন্ন শারীরিক ক্রিয়াকলাপে গুরুত্বপূর্ণ ভূমিকা পালন করে, যেমন হজম, সঞ্চালন এবং তাপমাত্রা নিয়ন্ত্রণ। ডিহাইড্রেশন মাথাব্যথা, ক্লান্তি এবং এমনকি আরও গুরুতর স্বাস্থ্য সমস্যা হতে পারে। হাইড্রেটেড থাকার জন্য, আপনি যদি সক্রিয় থাকেন বা গরম আবহাওয়ায় থাকেন তবে দিনে কমপক্ষে 8 গ্লাস জল এবং আরও বেশি পান করার লক্ষ্য রাখুন। আপনার ডায়েটে ফল এবং শাকসবজির মতো হাইড্রেটিং খাবার অন্তর্ভুক্ত করুন এবং আপনার শরীরের তৃষ্ণার সংকেত শুনুন।</p>
                          </div>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card-header" role="tab" id="heading-2">
                          <h6 class="mb-0">
                            <a class="collapsed" data-toggle="collapse" href="#collapse-2" aria-expanded="false" aria-controls="collapse-2" data-abc="true">
                             একটি ভাল রাতের ঘুম পাওয়া: ভাল ঘুমের স্বাস্থ্যবিধি জন্য টিপস
                            </a>
                          </h6>
                        </div>
                        <div id="collapse-2" class="collapse" role="tabpanel" aria-labelledby="heading-2" data-parent="#accordion">
                          <div class="card-body">
                              <p>সামগ্রিক সুস্থতার জন্য মানসম্পন্ন ঘুম অপরিহার্য। আপনার ঘুমের স্বাস্থ্যবিধি উন্নত করতে, একটি সামঞ্জস্যপূর্ণ ঘুমের সময়সূচী স্থাপন করুন, একটি আরামদায়ক ঘুমের পরিবেশ তৈরি করুন এবং শোবার আগে স্ক্রীনের সময় সীমিত করুন। শয়নকালের কাছাকাছি ক্যাফেইন এবং ভারী খাবার এড়িয়ে চলুন এবং রিডিং বা মৃদু স্ট্রেচিংয়ের মতো আরামদায়ক ক্রিয়াকলাপে নিযুক্ত হন। এই অভ্যাসগুলি আপনাকে দ্রুত ঘুমিয়ে পড়তে এবং গভীর, আরও পুনরুদ্ধারকারী ঘুম উপভোগ করতে সাহায্য করতে পারে।</p>
                          </div>
                        </div>
                      </div>
                       <div class="card">
                        <div class="card-header" role="tab" id="heading-2">
                          <h6 class="mb-0">
                            <a class="collapsed" data-toggle="collapse" href="#collapse-2" aria-expanded="false" aria-controls="collapse-2" data-abc="true">
                             আপনার স্বাস্থ্যের জন্য নিয়মিত ব্যায়ামের উপকারিতা
                            </a>
                          </h6>
                        </div>
                        <div id="collapse-2" class="collapse" role="tabpanel" aria-labelledby="heading-2" data-parent="#accordion">
                          <div class="card-body">
                              <p>নিয়মিত শারীরিক ক্রিয়াকলাপ অসংখ্য স্বাস্থ্য সুবিধা দেয়। এটি আপনাকে স্বাস্থ্যকর ওজন বজায় রাখতে, দীর্ঘস্থায়ী রোগের ঝুঁকি কমাতে এবং আপনার মেজাজ বাড়াতে সাহায্য করতে পারে। একটি ব্যায়ামের রুটিন খুঁজুন যা আপনি উপভোগ করেন, তা হাঁটা, সাঁতার কাটা বা নাচ। প্রতি সপ্তাহে কমপক্ষে 150 মিনিটের মাঝারি-তীব্রতার ব্যায়াম বা 75 মিনিটের জোরালো-তীব্রতার কার্যকলাপের লক্ষ্য রাখুন। পেশী এবং হাড়ের স্বাস্থ্য উন্নত করতে শক্তি প্রশিক্ষণ ব্যায়াম অন্তর্ভুক্ত করুন।</p>
                          </div>
                        </div>
                      </div>

                      <div class="card">
                        <div class="card-header" role="tab" id="heading-2">
                          <h6 class="mb-0">
                            <a class="collapsed" data-toggle="collapse" href="#collapse-2" aria-expanded="false" aria-controls="collapse-2" data-abc="true">
                             স্ট্রেস ম্যানেজমেন্ট: একটি স্বাস্থ্যকর জীবনের জন্য কৌশল
                            </a>
                          </h6>
                        </div>
                        <div id="collapse-2" class="collapse" role="tabpanel" aria-labelledby="heading-2" data-parent="#accordion">
                          <div class="card-body">
                              <p>দীর্ঘস্থায়ী চাপ আপনার স্বাস্থ্যের উপর প্রভাব ফেলতে পারে। ধ্যান, গভীর শ্বাস-প্রশ্বাসের ব্যায়াম, যোগব্যায়াম বা প্রকৃতিতে সময় কাটানোর মতো স্ট্রেস ম্যানেজমেন্ট কৌশল প্রয়োগ করুন। স্ব-যত্নকে অগ্রাধিকার দিন এবং আপনার পছন্দের শখগুলিতে নিযুক্ত হন। সামাজিক সমর্থন সন্ধান করুন এবং মানসিক স্বাস্থ্য পেশাদারের সাথে পরামর্শ করতে দ্বিধা করবেন না যদি চাপ অপ্রতিরোধ্য হয়ে ওঠে। আপনার মানসিক এবং শারীরিক সুস্থতার জন্য কার্যকরভাবে স্ট্রেস পরিচালনা করা অপরিহার্য।</p>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
            </div>
              </div>
            </div>

{% endblock content %}
