{% extends 'store/main.html' %}

{% load static %}
{% block content %}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap" rel="stylesheet">

<div class="card">
    <div class="card-body" style="font-family: 'Merriweather', sans-serif; text-align: center;">
      Trusted And Curated Health Tips For You By Our Health Experts.
    </div>
</div>

<!-- accordion start -->
<!-- part1 -->
<div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
            <h2>ডেঙ্গুতে আক্রান্ত হয়েছেন কিনা কোন লক্ষণগুলো দেখে বুঝবেন?</h2>
        </button>
      </h2>
      <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
            <p>
                <h5>ডেঙ্গুর সাধারণত তেমন আলাদা কোনো লক্ষণ থাকে না। তাই অনেকেই ভাইরাল জ্বর বলে এটি অবহেলা করেন। তবে কিছু লক্ষণ দেখে ভাইরাল জ্বর থেকে একে আলাদা করা যায়। যেমন- </h5>
                <h6>
                <ul>
                    <li>ডেঙ্গু জ্বরে সাধারণত তীব্র জ্বর এবং সেই সঙ্গে শরীরে প্রচণ্ড ব্যথা হয়</li>
                    <li>জ্বর ১০২-১০৫ ফারেনহাইট পর্যন্ত হতে পারে</li>
                    <li>মাথা ও চোখের পিছনে ব্যথা হয়</li>
                    <li>শরীরে বিশেষ করে হাড়, কোমর, পিঠসহ অস্থিসন্ধি ও মাংসপেশিতে তীব্র ব্যথা হয়</li>
                    <li>জ্বর হওয়ার চার বা পাঁচদিনের সময় সারা শরীর জুড়ে লালচে র‍্যাশ দেখা যায়</li>
                    <li>পাতলা পায়খানা, বমি বমি ভাব এমনকি বমি হতে পারে</li>
                    <li>অনেক সময় ব্যথা এত তীব্র হয় যে মনে হয় হাড় ভেঙে যাচ্ছে। তাই এই জ্বরের আরেক নাম ‘ব্রেক বোন ফিভার’ বা হাড়ভাঙা জ্বর।</li>
                </ul>
                </h6>
            </p>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
            <h2>একটি ভাল রাতের ঘুম পাওয়া: ভাল ঘুমের স্বাস্থ্যবিধি জন্য টিপস</h2>
        </button>
      </h2>
      <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body"><h6>সামগ্রিক সুস্থতার জন্য মানসম্পন্ন ঘুম অপরিহার্য। আপনার ঘুমের স্বাস্থ্যবিধি উন্নত করতে, একটি সামঞ্জস্যপূর্ণ ঘুমের সময়সূচী স্থাপন করুন, একটি আরামদায়ক ঘুমের পরিবেশ তৈরি করুন এবং শোবার আগে স্ক্রিন টাইম সীমিত করুন। শয়নকালের কাছাকাছি ক্যাফেইন এবং ভারী খাবার এড়িয়ে চলুন এবং রিডিং বা মৃদু স্ট্রেচিংয়ের মতো আরামদায়ক ক্রিয়াকলাপে নিযুক্ত হন। এই অভ্যাসগুলি আপনাকে দ্রুত ঘুমিয়ে পড়তে এবং গভীর, আরও পুনরুদ্ধারকারী ঘুম উপভোগ করতে সাহায্য করতে পারে।</h6></div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
            <h2>আপনার স্বাস্থ্যের জন্য নিয়মিত ব্যায়ামের উপকারিতা</h2>
        </button>
      </h2>
      <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body"><h6>নিয়মিত শারীরিক ক্রিয়াকলাপ অসংখ্য স্বাস্থ্য সুবিধা দেয়। এটি আপনাকে স্বাস্থ্যকর ওজন বজায় রাখতে, দীর্ঘস্থায়ী রোগের ঝুঁকি কমাতে এবং আপনার মেজাজ বাড়াতে সাহায্য করতে পারে। একটি ব্যায়ামের রুটিন খুঁজুন যা আপনি উপভোগ করেন, তা হাঁটা, সাঁতার কাটা বা নাচ। প্রতি সপ্তাহে কমপক্ষে 150 মিনিটের মাঝারি-তীব্রতার ব্যায়াম বা 75 মিনিটের জোরালো-তীব্রতার কার্যকলাপের লক্ষ্য রাখুন। পেশী এবং হাড়ের স্বাস্থ্য উন্নত করতে শক্তি প্রশিক্ষণ ব্যায়াম অন্তর্ভুক্ত করুন।</h6></div>
      </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingFour">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
              <h2>আপনার স্বাস্থ্যের জন্য হাইড্রেশনের গুরুত্ব</h2>
          </button>
        </h2>
        <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body"><h6>পর্যাপ্ত পরিমাণে হাইড্রেটেড থাকা ভাল স্বাস্থ্য বজায় রাখার একটি মৌলিক দিক। পানি বিভিন্ন শারীরিক ক্রিয়াকলাপে গুরুত্বপূর্ণ ভূমিকা পালন করে, যেমন হজম, সঞ্চালন এবং তাপমাত্রা নিয়ন্ত্রণ। ডিহাইড্রেশন মাথাব্যথা, ক্লান্তি এবং এমনকি আরও গুরুতর স্বাস্থ্য সমস্যা হতে পারে। হাইড্রেটেড থাকার জন্য, আপনি যদি সক্রিয় থাকেন বা গরম আবহাওয়ায় থাকেন তবে দিনে কমপক্ষে 8 গ্লাস জল এবং আরও বেশি পান করার লক্ষ্য রাখুন। আপনার ডায়েটে ফল এবং শাকসবজির মতো হাইড্রেটিং খাবার অন্তর্ভুক্ত করুন এবং আপনার শরীরের তৃষ্ণার সংকেত শুনুন।</h6></div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingFive">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
              <h2>শিশুর স্ক্রিন টাইম | কোন বয়সে কতক্ষণ স্ক্রিন ব্যবহার করতে দেওয়া উচিত?</h2>
          </button>
        </h2>
        <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <p>
                <h3>কোন বয়সে কতক্ষণ স্ক্রিন ব্যবহার করতে পারবে?</h3>
                <h6>
                <ul>
                    <li>"The American Academy of Pediatrics" এর মতে, ১৮ মাসের কম বাচ্চাদের স্ক্রিন টাইম একদমই অ্যালাউ করা উচিত না। শুধুমাত্র আত্মীয়দের সাথে ভিডিও কলে কিছুক্ষণ তাকে অ্যালাউ করা যাবে, তাও সেটি বেশি সময় ধরে নয়।</li>

                    <li>যাদের বয়স ১৮-২৪ মাস তারা শুধুমাত্র বাবা-মায়ের সাথে কিছু সময় স্ক্রিন টাইম শেয়ার করবে এবং সেটি হতে হবে তার বয়সের জন্য উপযোগী কনটেন্ট।</li>
                    
                    <li>২-৫ বছর বয়সী বাচ্চাদের ১ ঘন্টা স্ক্রিন টাইম রাখা যেতে পারে এবং সেটা এডুকেশনাল প্রোগ্রাম।</li>
                    
                    <li>কিংবা তার বেশি বয়সী বাচ্চাদের ক্ষেত্রে বাবা-মা টাইম ফিক্সড করে দিবেন এবং তার উপর নজর রাখতে হবে যে সন্তান তার বাইরে অন্য কোনো হার্মফুল কনটেন্ট দেখছে কিনা।</li>
                </ul>
                </h6>
            </p>
          </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingSix">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
              <h2>ফাস্ট ফুডে কী কী স্বাস্থ্যঝুঁকি বেড়ে যাচ্ছে?</h2>
          </button>
        </h2>
        <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <p>
                <h5>এ ধরনের খাবারগুলো বেশি সুস্বাদু হওয়ার কারণ হচ্ছে এসব খাবারে প্রচুর সুগার ও ফ্যাট (শর্করা ও চর্বি) থাকে। সবচেয়ে কম থাকে বিভিন্ন ধরনের পুষ্টি (যেমন- ভিটামিন, খনিজ ও ফাইবার)। অল্প সময়ে হাতে পৌঁছায় বলে মুখরোচক এসব খাবারের চাহিদা বেশি থাকে। নিয়মিত ফাস্ট ফুড খেলে যে ধরনের স্বাস্থ্যঝুঁকি হতে পারে-</h5>
            </p>
            <h6>
                <ul>
                    <li>ফাস্ট ফুডে সোডিয়ামের পরিমাণ বেশি থাকায় মাথাব্যথা ও মাইগ্রেন হতে পারে </li>
                    <li>ব্রণ হওয়ার সম্ভাবনা বেড়ে যায় </li>
                    <li>বিষণ্ণতার ঝুঁকি বাড়ায় </li>
                    <li>দাঁতের ফাঁকে এসব খাবার আটকে থেকে ক্যাভিটির সম্ভাবনা বাড়িয়ে তোলে </li>
                    <li>এসব খাবারে থাকা ফ্যাট এলডিএল কোলেস্টেরলের (ব্যাড কোলেস্টেরল) মাত্রা বাড়িয়ে দিতে পারে </li>
                    <li>এ ধরনের খাবারে থাকা উচ্চ মাত্রার লবণ, টেস্টিং সল্ট ও কৃত্রিম রঙ উচ্চ রক্তচাপ ও ক্যান্সারের ঝুঁকি বাড়ায় </li>
                    <li>রোগ প্রতিরোধ ক্ষমতা কমে যায় </li>
                    <li>ওজন বেড়ে যায়, সেই সাথে বাড়ে ওবেসিটির সম্ভাবনাও </li>
                </ul>
            </h6>
          </div>
        </div>
    </div>

  </div>
  
                                                

{% endblock content %}
